@charset "UTF-8";


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&family=Raleway:wght@100;500;600;900&display=swap");


:root {
	--fonte: 'Poppins', sans-serif;
	--ice-gray: #F2F2F2;
	--red: #4f1313;
	--darkred: rgb(53, 1, 1);
}

* {
	text-align: center;
	font-family: var(--fonte);
	background-color: #f2f2f2;

}

h1 {
	margin: 200px auto 40px auto;
	font-size: 50px;
	color: var(--darkred);

}

#txtpeso {
	width: 29.5%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #790000;
	margin-bottom: 10px;
	border-radius: 30px;
	
}

#txtaltura {
	width: 29%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #790000;
	margin-bottom: 10px;
	border-radius: 30px;
}

#txtimc {
	width: 30%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #790000;
	margin-bottom: 10px;
	border-radius: 30px;
}

#txtmensagem {
	width: 26.82%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #790000;
	margin-bottom: 10px;
	border-radius: 30px;
}

form>* {
	display: block;
	margin: auto;
	text-align: center;
}

input[type="button"] {
	background-color: var(--red);
	border-radius: 16px;
	border: none;
	padding: 6px;
	color: #f2f2f2;
    margin-top: 15px;
}